<div class="container mt-5  d-flex justify-content-center">
    <div class="card text-center"style="width:35rem;" >
        
           
                <h1 class="display-5 pt-3" style="background-color: rgb(246, 64, 64);font-size: 36px; font-weight: 800; margin: 0; color: #ffffff;height:5rem">Your order Placed Successfully</h1>
            

            <div class="col">
                <img class="img-thumbnail" src="assets/img/confirm.png" alt=""  style="object-fit: cover;">
                <h2 style="font-size: 30px; font-weight: 800; line-height: 36px; color: #333333; margin: 0;">
                    Thank You For Your Order!
                </h2>

                <p style="font-size: 16px; font-weight: 400; line-height: 24px; color:#333333;">
                    Your Order will  Deliverd within 20-30 Minutes.
                </p>

                <h1 class="display-5 pt-3" style="background-color: rgb(246, 64, 64);font-size: 36px; font-weight: 800; margin: 0; color: #ffffff;height:5rem"><button class="btn btn-danger btn-lg" routerLink="/user">Order Again</button></h1>
            
            </div>
      
        
    </div>
</div>
